*{
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid lightgreen; */
}

headline-text{
    background-image: url(static/img-headline.png);
    background-size: cover;
}

a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: rgb(64, 203, 218);
}

.headline{
    margin: 0%;
    padding: 0%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headline-img{
    background-image: url("static/img-headline.png");
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .headline-img{
    background-image: url("static/img-headline.png");
    background-size:contain;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.headline-text{
    z-index: 0;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;

}
